footer {
    background-color: #00CED1;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.9);
  }

.footer-container {
    background-color: #00CED1;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    font-family: Arial, sans-serif;
  }
  
  .footer-text {
    margin: 0;
  }